@import "tailwindcss";






body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  background-color: #0a0819;
}


.poppins-font{
 font-family: var(--font-poppins) ;
}

.vazir-font{
  font-family: var(--font-vazir) ;
}

.custom-duration{
animation-duration: 5s;

}
.text-scan{
   position: absolute;
  transform: translateX(-50%);
  top:-20;
  left:50%;
  color: transparent;
  width: max-content;
  -webkit-text-stroke: 1px #fafafa;
  animation: display-text 8s linear infinite;
  animation-delay: calc(-4s * var(--i));

}

.text-scan-rtl{
  direction: rtl;
 
}

.text-scan-ltr{
  direction: ltr;

}

.text-scan-rtl::before{
 content: attr(data-text);
 position: absolute;
 width:0;
 border-left:2px solid #fafafa;
 color: #fafafa;
 white-space: nowrap;
 overflow: hidden;
 animation: fill-text 4s linear infinite;
}

.text-scan-ltr::before{
 content: attr(data-text);
 position: absolute;
 width:0;
 border-right:2px solid #fafafa;
 color: #fafafa;
 white-space: nowrap;
 overflow: hidden;
 animation: fill-text 4s linear infinite;
}



@keyframes display-text {
  0%,50%{
    visibility: visible;
    opacity:1;
  }
  51%,100%{
    visibility: hidden;
    opacity: 0;
  } 
  
}
@keyframes fill-text {
  10%,100%{
    width:0;
  }
  70%,
  90%{
    width: 100%;
  }
}
@keyframes scan {
  0%{
    transform: translateY(100%)
  }

  100%{
    transform: translateY(-100%);
  }
}