@import "tailwindcss";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  background-color: #0a0819;
}

/* .outfit-font{
 font-family: var(--font-outfit) ;
} */

.poppins-font{
 font-family: var(--font-poppins) ;
}

.vazir-font{
  font-family: var(--font-vazir) ;
}

.custom-duration{
animation-duration: 5s;

}

.text-scan-rtl{
  direction: rtl;
  color: transparent;
  -webkit-text-stroke: 1px #fafafa;
  animation: display-text 8s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

.text-scan-ltr{
  direction: ltr;
  color: transparent;
  -webkit-text-stroke: 1px #fafafa;
  animation: display-text 8s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

.text-scan-rtl::before{
 content: attr(data-text);
 position: absolute;
 width:0;
 border-left:2px solid #fafafa;
 color: #fafafa;
 white-space: nowrap;
 overflow: hidden;
 animation: fill-text 4s linear infinite;
}

.text-scan-ltr::before{
 content: attr(data-text);
 position: absolute;
 width:0;
 border-right:2px solid #fafafa;
 color: #fafafa;
 white-space: nowrap;
 overflow: hidden;
 animation: fill-text 4s linear infinite;
}
/* .scan-effect {
  animation: scan 5s linear infinite ;
} */

@keyframes display-text {
  50%,
  100%{
    display:none;
  } 
  
}
@keyframes fill-text {
  10%,100%{
    width:0;
  }
  70%,
  90%{
    width: 100%;
  }
}
@keyframes scan {
  0%{
    transform: translateY(100%)
  }

  100%{
    transform: translateY(-100%);
  }
}